{% extends "status.html" %}
{% include "status.html" %}
{% block content %}

<div id="controles">
    <h2> ---- Controles ----</h2>
    <p>1 - Atacar com arma</p>
    {% if tem_magia %}
        <p>2 - Atacar com magia</p>
    {% endif %}
    {% if tem_pocao %}
        <p>3 - Usar poção</p>
    {% endif %}
    {% if tem_pato %}
        <p>4 - Usar o pato</p>
    {% endif %}
</div>

<div id="entrada-acao">
    <form action="" method="post">
        <label for="acao">Digite o número da ação: </label>
            <input type="text" id="acao" name="acao" required>

            <input type="submit" value="Enviar">
    </form>
</div>
{% if acao == 1 %}
    <div id="resultado1">
        <p>Você causou um dano de {{ dano_jogador }}.</p>
        <p>O inimigo causou um dano de {{ dano_inimigo }}</p>
    </div>

{% elif acao == 2 and tem_magia %}
    {% include "usar_magia.html" %}
{% elif acao == 3 and tem_pocao %}
    {% include "usar_pocao.html" %}
{% elif acao == 4 and tem_pato %}
    {% include "usar_pato.html" %}
{% endif %}


{% endblock %}